<br><br>
<div class="col-lg-11">
  <br>
  <br>
  </div>
  
      <div class="col-lg-1">
      <!-- <div class="jumbotron " id="b1"> -->
    
      <form [formGroup]="itemForm">
        <div class="input-fields">
          <label>ID</label>
          <input type="text" formControlName="buyerId" placeholder="Enter ID" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.buyerId.errors  }" readonly/>
            
            <label>NAME</label>
            <input type="text" formControlName="userName" placeholder="Enter Name" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" />
            
          <label>Password</label>
          <input type="password" formControlName="password" placeholder="Enter Password" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
            
          <label>EMAIL</label>
            <input type="text" formControlName="emailId" placeholder="Enter Email" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
           
            <label>MOBILE</label>
            <input type="text" formControlName="mobileNo" placeholder="Enter Mobile Number" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" />
            
          
          </div>
          <br><br>
        <div class="text-center">
         
          <button class="ghost-round full-width" type="button" (click)="EditProfile()">EditProfile</button>
     
        </div>
      </form>
    </div>
  <!-- </div> -->

<!-- <div class='bold-line'></div>
      <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
          <div class='welcome'>View Profile</div>
          <form [formGroup]="viewprofileForm">
            <div class="input-fields">
              <label>ID</label>
              <input type="text" formControlName="buyerId" placeholder="Enter ID" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.buyerId.errors }" />
                
                <label>NAME</label>
                <input type="text" formControlName="userName" placeholder="Enter Name" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                
              <label>Password</label>
              <input type="password" formControlName="password" placeholder="Enter Password" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                
              <label>EMAIL</label>
                <input type="text" formControlName="emailId" placeholder="Enter Email" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
               
                <label>MOBILE</label>
                <input type="text" formControlName="mobileNo" placeholder="Enter Mobile Number" class="form-control input-line full-width" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" />

              </div>
              <br><br> -->
           
              <!-- <button class="ghost-round full-width " id=b1>View</button> -->
              <!-- <button class="ghost-round full-width" type="button" (click)="EditProfile()">EditProfile</button> -->
              <!-- <button class="ghost-round full-width " type="reset" (click)="onReset()" id=b2>Reset</button> -->
           
          <!-- </form>
        </div>
      </div> -->