  <!-- <div class="row"> -->
      <div class="view">
      <div  *ngFor="let item of cart"> 
          <div class="card">
            <h5 class="card-title">{{item.itemname}}</h5>
             <img src="assets/images/{{item.image}}" alt="Card image cap" width="120px" height="100px"> 
              <div class="card-body" >
                 Price: {{item.price}}<br/>
                  Description:{{item.description}}<br/>
                    
            </div>
            <div class="card-footer">
              <div class="text-center">
                <button class="btn btn-primary mr-1" (click)="Buy(item)" >Buy </button>
                <button class="btn btn-danger mr-1" (click)="Delete(item.cartId)">Delete</button>
            </div>
            </div>     
          </div>
        
        </div>
      </div>
      <!-- </div> -->
   