<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="topnav">
        <a class="active"  href="/home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a [routerLink]="['add-items']"  ><span class="glyphicon glyphicon-folder-open"></span> Add Items</a>
        <a href=#><span class="glyphicon glyphicon-search"> </span> View Items </a>
        <a href=#><span class="glyphicon glyphicon-file"> </span>  View Report</a>
        <!-- <a href=#><span class="glyphicon glyphicon-file"> </span>  View Profile</a> -->
      
        
        <!-- <div class="search-container">
          <form action="/action_page.php"> -->
            <!-- <input type="text" placeholder="Search.." name="search"> -->
            <!-- <input type="text" placeholder="Search.." name="search"> -->
            <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
          <!-- </form>
         </div> -->
      



      <!-- <div class="sidenav">
        <a href=#><span class="glyphicon glyphicon-folder-open"></span> Add Items</a>
        <a href=#><span class="glyphicon glyphicon-search"> </span> View Items </a>
        <a href=#><span class="glyphicon glyphicon-file"> </span>  View Report</a>
        <a href=#><span class="glyphicon glyphicon-file"> </span>  View Profile</a>

   </div>
   -->



        </div></body></html>

<router-outlet></router-outlet>