.sidenav a {
	margin-top: 30px;
	padding: 0px 0px 0px 20px;
	text-decoration: none;
	font-size: 20px;
	color: blanchedalmond;
	display: inline-block;
}
.sidenav {
	height: 90%;
	width: 220px;
	position: fixed;
	z-index: 1;
	top: 52px;
	left: 0px;
	background-color:lightskyblue ;
	overflow-x: hidden;
	padding-top: 20px;
}
@media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidenav a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
  }
* {box-sizing: border-box;}

.img {
  background-image: url("src\assets\images\shoeback1.jpg");
  height: 1200px;
  /* width: 1035px;  */
  background-repeat: no-repeat;
  background-size: cover;
   background-attachment: fixed; 
background-position: center;
}

.topnav {
  overflow: hidden;
  background-color:rgb(226, 192, 192);
}

.topnav a {
  
  display: block;
  color:brown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#l
{
    float:right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:lightcyan;
  color: black;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
