<div class="img">
    <div class="topnav">
        <a class="active"  href="/home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a [routerLink]="['add-items']"  ><span class="glyphicon glyphicon-folder-open"></span> Add Items</a>
        <a [routerLink]="['view-items']" ><span class="glyphicon glyphicon-search"> </span> View Items </a>
        <a href=#><span class="glyphicon glyphicon-file"> </span>  View Report</a>
        <a [routerLink]="['view-profile']" routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-file"> </span>  View Profile</a>
        <a [routerLink]="['/home/login']" routerLinkActive="router-link-active">Logout</a> 
        
        <!-- <div class="search-container">
          <form action="/action_page.php"> -->
            <!-- <input type="text" placeholder="Search.." name="search"> -->
            <!-- <input type="text" placeholder="Search.." name="search"> -->
            <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
          <!-- </form>
         </div> -->
      



      <!-- <div class="sidenav">
        <a href=#><span class="glyphicon glyphicon-folder-open"></span> Add Items</a>
        <a href=#><span class="glyphicon glyphicon-search"> </span> View Items </a>
        <a href=#><span class="glyphicon glyphicon-file"> </span>  View Report</a>
        <a href=#><span class="glyphicon glyphicon-file"> </span>  View Profile</a>

   </div>
   -->



        </div>
     
        <router-outlet></router-outlet>
      </div>
    <!-- </body></html> -->

