<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    
    <!-- <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-8">
            <div><marquee><h2>Shop Now</h2></marquee></div>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12"> 
 <div class="topnav">
      <a>  <div class="round-shape"> <img class="round-shape" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRz6_H_B8F7xB2d-c9RwcXKVF6clLXBrKDWao49uUeiM6WbRHum" /> </div></a> 

 <a class="active"  href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
 <a href="#"><i class="fa fa-fw fa-user"></i>Login</a>
        <a href="#"><i class="fa fa-fw fa-user"></i>SignUp</a>  

        
</div>
</div>
</div> -->
<!-- <marquee width="5%" direction="up" height="8%">
    <h1>shop Now</h1>
</marquee> -->
<div><marquee><h1><b>Shop Mart</b></h1></marquee></div>


<div class="row" >
    <div class="col-lg-12" id="c1">
<!-- <div class="sidenav"> -->
    <a [routerLink]="['/home/login']"   id="r1"><i class="fa fa-fw fa-user"></i>Login</a><br><br>
        <a href="#" id="r1"><i class="fa fa-fw fa-user" ></i>SignUp</a><br><br>
        <!-- <a href="src\app\Admin\admin\admin.component.html" id="r1"><span class="glyphicon glyphicon-expand" > </span>  ADMIN</a><br><br> -->
    <a [routerLink]="['/home']" routerLinkActive="router-link-active"  id="r1"><span class="glyphicon glyphicon-shopping-cart"></span> Home</a><br><br>
    <a href=# id="r1"><span class="glyphicon glyphicon-expand" > </span> Aboutus </a><br><br>
    <!-- <a href=# id="r1"><span class="glyphicon glyphicon-phone-alt" > </span>  Contact</a> -->
    
<!-- </div> -->
    </div>
</div>

    <div class="col-lg-12">
        <label>Run or Walk You will Use To It</label>
        <router-outlet></router-outlet>

        
    </div>


   

</body>
</html>
<footer>
   <h4> Copyright © 2020 <b>Shoe Mart</b></h4>
 </footer>